*{
    box-sizing: border-box;
}
h1{
    text-align: center;
    border: 5px double black;
}
button{
    margin-left: 47%;
    font-weight: bold;
}
span{
    margin-left: 45%;
    font-weight: bold;
}
h2,h3,h4,h5{
    text-align: center;
}